*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --white:#ffffff;
    --orange:#ee1717;
    --black:#000;
    --dark:#02051d;
    --grey:#f7d2af;
    --lightOrange:#ff9d41;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--grey);
}

#container {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 400px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius: 40px;
    margin: 50px;
}

#display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 380px;
    background-color: rgb(252, 252, 189);
    border: 2px solid yellow;
    border-radius: 30px;
    margin: 10px;
}

#resultDisplay{
    height: 80px;
    width: 380px;
    border-radius: 30px;
    margin-top: 80px;

    background-color: rgb(252, 252, 189);
    border: 2px solid red;
}

#content {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    height: 400px;
    width: 380px;
    background-color: var(--orange);
    border-radius: 30px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    height: 80px;
    width: 380px;
}

button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--orange);
    border: solid 2px var(--grey);

}

#clear, #delete, #operatorEqual{
    width: 100px;
    border-radius: 40%;
    background-color: var(--lightOrange);
    color: var(--white);
}

.num {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}